@charset "UTF-8";
/**
GERAL
**/
@font-face {
  font-family: 'Open Sans';
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p, span {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: justify;
}

h1 {
  font-size: 1rem;
}

h2 {
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
}

p {
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

nav li {
  margin: 0 25px;
}

a, :visited {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #3EF4B3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #CB24BA;
}

header {
  width: 100%;
  position: relative;
  background: #0F0C16;
}

button {
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloco {
  padding: 50px 200px;
}

.colorRoxo {
  color: #CB24BA;
}

.colorVerde {
  color: #3EF4B3;
}

/**
ANIMAÇÕES
**/
@-webkit-keyframes holograma {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
@keyframes holograma {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes glasses {
  0% {
    content: url(../img/portrait-arts/head01.png);
  }
  49% {
    content: url(../img/portrait-arts/head01.png);
  }
  50% {
    content: url(../img/portrait-arts/head00.png);
  }
  51% {
    content: url(../img/portrait-arts/head01.png);
  }
  52% {
    content: url(../img/portrait-arts/head00.png);
  }
  53% {
    content: url(../img/portrait-arts/head01.png);
  }
  54% {
    content: url(../img/portrait-arts/head00.png);
  }
  55% {
    content: url(../img/portrait-arts/head01.png);
  }
  100% {
    content: url(../img/portrait-arts/head01.png);
  }
}

@keyframes glasses {
  0% {
    content: url(../img/portrait-arts/head01.png);
  }
  49% {
    content: url(../img/portrait-arts/head01.png);
  }
  50% {
    content: url(../img/portrait-arts/head00.png);
  }
  51% {
    content: url(../img/portrait-arts/head01.png);
  }
  52% {
    content: url(../img/portrait-arts/head00.png);
  }
  53% {
    content: url(../img/portrait-arts/head01.png);
  }
  54% {
    content: url(../img/portrait-arts/head00.png);
  }
  55% {
    content: url(../img/portrait-arts/head01.png);
  }
  100% {
    content: url(../img/portrait-arts/head01.png);
  }
}

@-webkit-keyframes glitch {
  0% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  5% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  8% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  10% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  20% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  30% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  80% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  95% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  100% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
}

@keyframes glitch {
  0% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  5% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  8% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  10% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  20% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  30% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  80% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  95% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  100% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
}

/**
ESPECIFICOS
**/
#menu-inicial {
  position: fixed;
  top: 0;
  z-index: 3;
  background: #0F0C16;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#portrait {
  position: relative;
  margin: 40px 0 70px;
}

#portrait img:first-child {
  -webkit-animation-name: glasses;
          animation-name: glasses;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#portrait:hover {
  -webkit-animation-name: glitch;
          animation-name: glitch;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#portrait img:last-child {
  content: url(../img/portrait-arts/holograma.png);
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-animation-name: holograma;
          animation-name: holograma;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.linear-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#332A47), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(#332A47, rgba(0, 0, 0, 0));
}

.psmall {
  font-size: 0.7rem;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

/**
SOBRE
**/
body {
  background-color: #1A1426;
}

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(#0F0C16), to(#1A1426));
  background: linear-gradient(#0F0C16, #1A1426);
}

#about #about-description {
  position: relative;
}

#about #about-description #picture {
  border-radius: 50%;
  position: absolute;
}

#about #container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about #container-cards .card-soft-skill {
  border: 1px solid #954C9B;
  padding: 20px;
  border-radius: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#about #container-cards .card-soft-skill div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about #container-cards .card-soft-skill .card-bg-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #container-cards .card-soft-skill .card-bg-icon img {
  width: 70%;
  height: 70%;
}

#experiences div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

#experiences div img {
  width: 50%;
}

#experiences div div {
  width: 100%;
}

#experiences p {
  padding: 20px 40px;
}

#experiences button {
  width: 100%;
  background-color: #161121;
  padding: 20px;
  margin-top: 5px;
}

#experiences button:hover {
  border: 1px solid #cf6bd8;
}

#experiences span {
  color: #fff;
  text-align: initial;
  font-size: 1rem;
}

#projects > div.flex-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px;
}

#projects #carousels {
  width: 750px;
  overflow-x: hidden;
}

#projects #container-projects {
  position: relative;
  left: 370px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

#projects button {
  font-size: 3rem;
  background: transparent;
  font-weight: bolder;
  color: #fff;
}

#projects button:hover {
  color: #EE2EDB;
}

#projects .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px #161121;
          box-shadow: 3px 3px #161121;
  color: #fff;
  margin: 5px;
  width: 50px;
  height: 50px;
}

#projects p {
  margin: 25px;
}

#projects .project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  overflow-x: hidden;
  min-width: 250px;
}

#projects .project h3 {
  z-index: 1;
  color: #FFFA7D;
  position: relative;
  top: 35px;
  opacity: 0.9;
  text-shadow: 2px 2px #0F0C16;
}

#projects .project .img-project-code {
  -webkit-transform: translateX(125px);
          transform: translateX(125px);
  -webkit-transition: -webkit-transform ease-in-out 1s;
  transition: -webkit-transform ease-in-out 1s;
  transition: transform ease-in-out 1s;
  transition: transform ease-in-out 1s, -webkit-transform ease-in-out 1s;
}

#projects .project .img-project-code img {
  height: 250px;
}

#projects .project .img-project-code div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -150px;
  left: 360px;
  font-weight: bold;
}

#projects .project .img-project-code div a:first-child {
  color: #EE2EDB;
}

#projects .project .img-project-code div a:last-child {
  color: #F4DB79;
}

#projects .project .img-project-code:hover {
  -webkit-transform: translateX(-126px);
          transform: translateX(-126px);
}

@media (min-width: 1367px) {
  h2 {
    margin: 40px 100px;
  }
  #portrait img:first-child {
    height: 700px;
  }
  #portrait:hover {
    height: 700px;
  }
  #portrait img:last-child {
    height: 700px;
  }
  #menu-inicial {
    padding: 50px 100px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu-inicial h1 {
    margin-right: 200px;
  }
  #about-description {
    max-width: 1000px;
    padding: 40px 100px;
    margin: 0 auto 100px;
  }
  #about-description #picture {
    top: -100px;
  }
  #about-description h2 {
    text-align: end;
  }
  #container-cards {
    padding: 0 100px;
    max-width: 1000px;
    margin: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .card-soft-skill {
    padding: 20px;
    margin: 5px;
  }
}

@media (min-width: 781px) and (max-width: 1366px) {
  h2 {
    margin: 40px 100px;
  }
  #portrait img:first-child {
    height: 500px;
  }
  #portrait:hover {
    height: 500px;
  }
  #portrait img:last-child {
    height: 500px;
  }
  #menu-inicial {
    padding: 50px 100px 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #about-description {
    padding: 40px 100px  25px;
    margin: 0 auto 50px;
  }
  #about-description #picture {
    top: -100px;
  }
  #about-description h2 {
    text-align: end;
  }
  #container-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0 50px;
  }
  .card-soft-skill {
    max-width: 200px;
    margin: 25px;
  }
  .bloco {
    padding: 50px 80px;
  }
}

@media screen and (max-width: 780px) {
  h2 {
    margin: 40px 0;
  }
  #portrait img:first-child {
    height: 240px;
  }
  #portrait:hover {
    height: 240px;
  }
  #portrait img:last-child {
    height: 240px;
  }
  #about-description {
    padding: 80px 25px 30px;
  }
  #about-description #picture {
    top: -50px;
    left: 50px;
    width: 150px;
  }
  #about-description h2 {
    text-align: center;
  }
  #container-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-soft-skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    margin: 10px auto;
  }
  .bloco {
    padding: 50px 50px;
  }
  #menu-inicial {
    padding: 25px 50px 10px;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #menu-inicial nav {
    height: 1rem;
  }
  #menu-inicial img {
    content: url(../img/icons/menu-svgrepo-com.svg);
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 3rem;
  }
  #menu-inicial div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu-inicial ul {
    text-align: end;
    background-color: #0F0C16;
    opacity: 0.9;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    right: 10px;
  }
  #menu-inicial li {
    margin: 10px;
  }
  #menu-inicial a {
    font-size: 1.2rem;
  }
  #experiences > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #experiences > div img {
    width: 100%;
  }
  #experiences > div p {
    padding: 16px;
  }
}
/*# sourceMappingURL=style.css.map */