@charset "UTF-8";
/**
GERAL
**/
@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p, span {
  color: #fff;
  text-align: justify;
}

h1 {
  font-size: 1rem;
}

h2 {
  filter: opacity(0.2);
}

h2, h3 {
  font-weight: bold;
}

p, h3 {
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

nav li {
  margin: 0 25px;
}

a, :visited {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #3EF4B3;
  transition: all ease-in-out 0.5s;
  line-height: 0.8rem;
}

a:hover {
  color: #ee2bda;
  font-size: 1.2rem;
}

h1 a, h1 :visited {
  color: #ee2bda;
  font-size: 1.2rem;
}
h1 a:hover {
  color: #3EF4B3;
}

header {
  width: 100%;
  position: relative;
  background: #0F0C16;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco {
  padding: 50px 200px;
}

.colorRoxo {
  color: #CB24BA;
}

.colorVerde {
  color: #3EF4B3;
}

.linear-gradient {
  background: linear-gradient(#332A47, rgba(0, 0, 0, 0));
}

.psmall {
  font-size: 0.7rem;
  filter: opacity(0.7);
}

/**
ANIMAÇÕES
**/
@-webkit-keyframes holograma {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
@keyframes holograma {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes glasses {
  0% {
    content: url(../img/portrait-arts/head01.png);
  }
  49% {
    content: url(../img/portrait-arts/head01.png);
  }
  50% {
    content: url(../img/portrait-arts/head00.png);
  }
  51% {
    content: url(../img/portrait-arts/head01.png);
  }
  52% {
    content: url(../img/portrait-arts/head00.png);
  }
  53% {
    content: url(../img/portrait-arts/head01.png);
  }
  54% {
    content: url(../img/portrait-arts/head00.png);
  }
  55% {
    content: url(../img/portrait-arts/head01.png);
  }
  100% {
    content: url(../img/portrait-arts/head01.png);
  }
}
@keyframes glasses {
  0% {
    content: url(../img/portrait-arts/head01.png);
  }
  49% {
    content: url(../img/portrait-arts/head01.png);
  }
  50% {
    content: url(../img/portrait-arts/head00.png);
  }
  51% {
    content: url(../img/portrait-arts/head01.png);
  }
  52% {
    content: url(../img/portrait-arts/head00.png);
  }
  53% {
    content: url(../img/portrait-arts/head01.png);
  }
  54% {
    content: url(../img/portrait-arts/head00.png);
  }
  55% {
    content: url(../img/portrait-arts/head01.png);
  }
  100% {
    content: url(../img/portrait-arts/head01.png);
  }
}
@-webkit-keyframes glitch {
  0% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  5% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  8% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  10% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  20% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  30% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  80% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  95% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  100% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
}
@keyframes glitch {
  0% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  5% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  8% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  10% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  20% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  30% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  80% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
  95% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head02.png);
  }
  100% {
    margin: 40px auto 70px;
    content: url(../img/portrait-arts/head03.png);
  }
}
/**
Inicio
**/
#menu-inicial {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background: #0F0C16;
  transition: all 1s;
}

#portrait {
  position: relative;
  margin: 40px 0 70px;
}

#portrait img:first-child {
  -webkit-animation-name: glasses;
          animation-name: glasses;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#portrait:hover {
  -webkit-animation-name: glitch;
          animation-name: glitch;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#portrait img:last-child {
  content: url(../img/portrait-arts/holograma.png);
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-animation-name: holograma;
          animation-name: holograma;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

/**
SOBRE
**/
body {
  background-color: #1A1426;
}

#about {
  background: linear-gradient(#0F0C16, #1A1426);
}
#about #about-description {
  position: relative;
}
#about #about-description #picture {
  border-radius: 50%;
  position: absolute;
}
#about #container-cards {
  display: flex;
}
#about #container-cards .card-soft-skill {
  align-items: center;
  border: 1px solid #954C9B;
  padding: 20px;
  border-radius: 3%;
  transition: all 0.5s;
}
#about #container-cards .card-soft-skill div {
  justify-content: space-between;
}
#about #container-cards .card-soft-skill .card-bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #fff;
}
#about #container-cards .card-soft-skill .card-bg-icon img {
  width: 70%;
  height: 70%;
}

#experiences div {
  align-items: flex-start;
  transition: all ease-in-out 1s;
}
#experiences div img {
  width: 50%;
}
#experiences div div {
  width: 100%;
}
#experiences p {
  padding: 20px 40px;
}
#experiences button {
  width: 100%;
  background-color: #161121;
  padding: 20px;
  margin-top: 5px;
}
#experiences button:hover {
  border: 1px solid #cf6bd8;
}
#experiences span {
  color: #fff;
  text-align: initial;
  font-size: 1rem;
}

#projects #carousels {
  width: 740px;
  overflow-x: hidden;
}
#projects #container-projects {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transform: translateX(0);
  transition: all ease-in-out 1s;
}
#projects button {
  background: transparent;
  margin: 15px;
  fill: #42365a;
}
#projects button:hover {
  fill: #3EF4B3;
}
#projects .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin: 5px;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 3px 3px #161121;
  color: #fff;
}
#projects .project {
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 25px;
  min-width: 250px;
}
#projects .project h3 {
  z-index: 1;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: 35px;
  opacity: 0.8;
  text-shadow: 2px 2px #0F0C16;
}
#projects .project .img-project-code {
  transform: translateX(125px);
  transition: transform ease-in-out 1s;
}
#projects .project .img-project-code div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -140px;
  left: 345px;
  font-weight: bold;
}
#projects .project .img-project-code div a {
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-shadow: 2px 2px 1px #42365a;
}
#projects .project .img-project-code:hover {
  transform: translateX(-126px);
}

#projects > div > div:last-child {
  margin: 10px;
}

#contact {
  background: linear-gradient(#1A1426, #0F0C16);
}
#contact img {
  width: 300px;
}
#contact form {
  width: 500px;
}
#contact form label {
  position: relative;
  cursor: pointer;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  margin: 5px 0 0;
  transition: top 0.5s ease-in-out;
}
#contact form .except {
  margin-top: 1.1rem;
  top: 0;
}
#contact form input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #161121;
  box-shadow: none;
  outline: 0;
  color: #fff;
}
#contact form textarea {
  box-shadow: none;
  outline: 0;
  padding: 5px;
}
#contact form input[type=submit] {
  align-self: flex-end;
  width: 150px;
  height: 35px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  background-color: #015085;
  color: #fff;
  box-shadow: 0px 2px #fff;
  cursor: pointer;
}
#contact form input[type=submit]:hover {
  position: relative;
  top: 2px;
  box-shadow: none;
  background-color: #0170BB;
}

footer {
  background: #0F0C16;
}
footer img {
  width: 20px;
  margin: 5px;
  filter: invert(1);
}
footer a {
  cursor: pointer;
  font-size: 0.8rem;
}
footer a:hover {
  font-size: 0.8rem;
}

@media (min-width: 1367px) {
  h2 {
    margin: 40px 100px;
  }
  #portrait img:first-child {
    height: 700px;
  }
  #portrait:hover {
    height: 700px;
  }
  #portrait img:last-child {
    height: 700px;
  }
  #menu-inicial {
    padding: 50px 100px 20px;
    justify-content: center;
  }
  #menu-inicial h1 {
    margin-right: 200px;
  }
  #about-description, #container-cards, #experiences, #projects, #contact, footer {
    max-width: 1300px;
    margin: auto;
  }
  #about-description {
    padding: 40px 100px;
    margin: 0 auto 100px;
  }
  #about-description #picture {
    top: -100px;
  }
  #about-description h2 {
    text-align: end;
  }
  #container-cards {
    align-items: stretch;
    padding: 0 100px;
  }
  .card-soft-skill {
    padding: 20px;
    margin: 5px;
  }
  #projects > div.flex-center {
    flex-direction: column;
    padding: 0 100px;
  }
  .img-project-code > img {
    height: 250px;
  }
  #contact p {
    margin: 25px;
  }
}
@media (min-width: 781px) and (max-width: 1366px) {
  h2 {
    margin: 40px 100px;
  }
  #portrait img:first-child {
    height: 500px;
  }
  #portrait:hover {
    height: 500px;
  }
  #portrait img:last-child {
    height: 500px;
  }
  #menu-inicial {
    padding: 50px 100px 20px;
    justify-content: space-around;
  }
  #about-description {
    padding: 40px 100px 25px;
    margin: 0 auto 50px;
  }
  #about-description #picture {
    top: -100px;
  }
  #about-description h2 {
    text-align: end;
  }
  #container-cards {
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 50px;
  }
  .card-soft-skill {
    max-width: 200px;
    margin: 25px;
  }
  .bloco {
    padding: 50px 80px;
  }
  #projects > div.flex-center {
    flex-direction: column;
    padding: 0 100px;
  }
  .img-project-code > img {
    height: 250px;
  }
  #contact > p {
    margin: 25px;
  }
  footer > div {
    margin: 10px;
  }
}
@media screen and (max-width: 780px) {
  h2 {
    margin: 40px 0;
  }
  header {
    height: 100vh;
  }
  #portrait {
    top: 20vh;
  }
  #portrait img:first-child {
    height: 240px;
  }
  #portrait:hover {
    height: 240px;
  }
  #portrait img:last-child {
    height: 240px;
  }
  #about-description {
    padding: 80px 25px 30px;
  }
  #about-description #picture {
    top: -50px;
    left: 50px;
    width: 150px;
  }
  #about-description h2 {
    text-align: center;
  }
  #container-cards {
    flex-direction: column;
  }
  .card-soft-skill {
    flex-direction: column;
    max-width: 400px;
    margin: 10px auto;
  }
  .bloco {
    padding: 50px 50px;
  }
  #menu-inicial {
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px 10px;
    width: 100vw;
  }
  #menu-inicial nav {
    height: 1rem;
  }
  #menu-inicial img {
    content: url(../img/icons/menu-svgrepo-com.svg);
    filter: invert(1);
    height: 3rem;
  }
  #menu-inicial div {
    flex-direction: column;
  }
  #menu-inicial ul {
    text-align: end;
    background-color: #0F0C16;
    opacity: 0.9;
    position: absolute;
    flex-direction: column;
    padding: 20px;
    right: 10px;
  }
  #menu-inicial li {
    margin: 10px;
  }
  #menu-inicial a {
    font-size: 1.2rem;
  }
  #projects > div.flex-center {
    flex-direction: column;
    padding: 0 50px;
  }
  #projects > div > div:last-child {
    flex-wrap: wrap;
  }
  #experiences > div {
    flex-direction: column;
  }
  #experiences > div img {
    width: 100%;
  }
  #experiences > div p {
    padding: 16px;
  }
  #contact div {
    flex-wrap: wrap;
  }
  #contact p {
    margin: 2px;
  }
  .img-project-code > img {
    height: 250px;
  }
  footer > div {
    flex-wrap: wrap;
    margin: 2px;
  }
}/*# sourceMappingURL=style.css.map */