@charset "UTF-8";
/**
GERAL
**/
@font-face {
  font-family: 'Open Sans';
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: justify;
}

h1 {
  font-size: 1rem;
}

h2 {
  margin: 40px 100px;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  font-weight: bold;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

nav li {
  margin: 0 25px;
}

a, :visited {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #3EF4B3;
}

a:hover {
  color: #CB24BA;
}

header {
  width: 100%;
  position: relative;
  background: #0F0C16;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloco {
  padding: 50px 200px;
}

.colorRoxo {
  color: #CB24BA;
}

.colorVerde {
  color: #3EF4B3;
}

/**
ANIMAÇÕES
**/
@-webkit-keyframes holograma {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
@keyframes holograma {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes glasses {
  0% {
    content: url(../img/portrait-arts/head01.png);
  }
  49% {
    content: url(../img/portrait-arts/head01.png);
  }
  50% {
    content: url(../img/portrait-arts/head00.png);
  }
  51% {
    content: url(../img/portrait-arts/head01.png);
  }
  52% {
    content: url(../img/portrait-arts/head00.png);
  }
  53% {
    content: url(../img/portrait-arts/head01.png);
  }
  54% {
    content: url(../img/portrait-arts/head00.png);
  }
  55% {
    content: url(../img/portrait-arts/head01.png);
  }
  100% {
    content: url(../img/portrait-arts/head01.png);
  }
}

@keyframes glasses {
  0% {
    content: url(../img/portrait-arts/head01.png);
  }
  49% {
    content: url(../img/portrait-arts/head01.png);
  }
  50% {
    content: url(../img/portrait-arts/head00.png);
  }
  51% {
    content: url(../img/portrait-arts/head01.png);
  }
  52% {
    content: url(../img/portrait-arts/head00.png);
  }
  53% {
    content: url(../img/portrait-arts/head01.png);
  }
  54% {
    content: url(../img/portrait-arts/head00.png);
  }
  55% {
    content: url(../img/portrait-arts/head01.png);
  }
  100% {
    content: url(../img/portrait-arts/head01.png);
  }
}

@-webkit-keyframes glitch {
  0% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  5% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  8% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  10% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  20% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  30% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  80% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  95% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  100% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
}

@keyframes glitch {
  0% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  5% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  8% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  10% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  20% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  30% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  80% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
  95% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head02.png);
  }
  100% {
    width: 70%;
    margin: 70px auto 0;
    content: url(../img/portrait-arts/head03.png);
  }
}

@-webkit-keyframes arrow-down-anim {
  0% {
    top: 0px;
  }
  30% {
    top: -8px;
  }
  60% {
    top: 3px;
  }
  90% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}

@keyframes arrow-down-anim {
  0% {
    top: 0px;
  }
  30% {
    top: -8px;
  }
  60% {
    top: 3px;
  }
  90% {
    top: -3px;
  }
  100% {
    top: 0px;
  }
}

/**
ESPECIFICOS
**/
#menu-inicial {
  position: fixed;
  top: 0;
  z-index: 3;
  background: #0F0C16;
  padding: 50px 100px 20px;
  min-width: 100%;
}

#portrait {
  margin-top: 70px;
  position: relative;
}

#portrait img {
  width: 70%;
}

#portrait img:first-child {
  -webkit-animation-name: glasses;
          animation-name: glasses;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#portrait:hover {
  -webkit-animation-name: glitch;
          animation-name: glitch;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#portrait img:last-child {
  content: url(../img/portrait-arts/holograma.png);
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-animation-name: holograma;
          animation-name: holograma;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#down-arrow {
  content: url(../img/icons/down-arrow-svgrepo-com.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 1.5rem;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin: 30px auto;
  -webkit-animation-name: arrow-down-anim;
          animation-name: arrow-down-anim;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#down-arrow:hover {
  height: 2.5rem;
}

.linear-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#332A47), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(#332A47, rgba(0, 0, 0, 0));
}

.psmall {
  font-size: 0.7rem;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

/**
SOBRE
**/
#about {
  background: -webkit-gradient(linear, left top, left bottom, from(#0F0C16), to(#1A1426));
  background: linear-gradient(#0F0C16, #1A1426);
}

#about #about-description {
  position: relative;
  padding: 40px 100px;
  margin-bottom: 100px;
}

#about #about-description h2 {
  text-align: end;
}

#about #about-description #picture {
  border-radius: 50%;
  position: absolute;
  top: -100px;
}

#about #container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 20px;
}

#about #container-cards .card-soft-skill {
  max-width: 200px;
  max-height: 250px;
  border: 1px solid #954C9B;
  padding: 20px;
  margin: 5px;
  border-radius: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about #container-cards .card-soft-skill div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about #container-cards .card-soft-skill .card-bg-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #container-cards .card-soft-skill .card-bg-icon img {
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 1280px) {
  #container-cards {
    padding: 0 40px !important;
  }
  .card-soft-skill {
    max-width: 320px !important;
    margin: 10px !important;
  }
  .bloco {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 960px) {
  .card-soft-skill {
    max-width: 220px !important;
    margin: 5px !important;
  }
}

@media screen and (max-width: 780px) {
  .card-soft-skill {
    max-width: 400px !important;
    margin: 10px !important;
  }
  .bloco {
    padding: 50px 50px;
  }
  #menu-inicial {
    padding: 25px 50px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-inicial nav {
    height: 1rem;
  }
  #menu-inicial img {
    content: url(../img/icons/menu-svgrepo-com.svg);
    -webkit-filter: invert(1);
            filter: invert(1);
    height: 3rem;
  }
  #menu-inicial div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu-inicial ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */